/* #region default styles */
body {
    background-color: #222222; /* background color */
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    color: #FF7474;
    font-family: 'Fredoka';
    font-weight: 600;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #222222;
    font-family: "Fredoka"
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #FF7474;
    font-family: 'Imprima';
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Imprima';
    font-size: 20px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    font-family: 'Imprima';
    font-size: 24px;
}

/* #endregion */

/* ###################### */
/* #region Navigation Bar */
/* ###################### */

/* Add a black background color to the top navigation */
.nav-bar {
  background-color: #3B3B3B;
  overflow: hidden;
  width: 100%; /* make nav-bar stretch whole page */
  border-bottom: 2px solid #C86060;

/* makes nav bar stick to top */
  position: sticky;
  z-index: 1;
  top: 0;
}

/* Style the links inside the navigation bar */
.nav-bar a {
  float: left;
  color: #FFFFFF;
  padding: 20px 25px;
  text-decoration: none;
}

.nav-bar h1 {
    float: right;
    text-align: center;
    padding: 20px 64px;
    text-decoration: none;
    font-size: 24px;
    margin: 0;
}


/* Change the color of links on hover */
.nav-bar a:hover {
  color: #FF7474;
}
/* #endregion */

/* #################### */
/* #region Hero Section */
/* #################### */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  min-height: 80vh;
  padding: 20px;

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  margin-bottom: 100px;

  scroll-margin-top: 100px;
}

/* #region About Me Section */
.about-me {
    background-color: #3B3B3B;

    background-image: linear-gradient(
        143deg,                       /* The angle (Top-Left to Bottom-Right) */
        rgba(255, 255, 255, 0.10) 0%,
        rgba(255, 255, 255, 0.10) 50%,
        transparent 50%,              /* Hard "Cut" to transparent */
        transparent 100%              /* Stay transparent for the rest */
    );

    flex: 1;
    width: 100%;
    max-width: 616px;
    min-width: 512px;

    height: 400px;
    padding: 40px;

    position: relative;
    margin: 30px; /* So extended salmon corners don't get cut off */
}

/* #region Salmon Corners on about-me section */

.corner { /* creates a salmon square*/
    position: absolute;
    width: 30px;
    height: 30px;

    border: 5px solid #FF7474; /* border goes width, style, then color */
}

/* positions each corner */
.corner.top-left {
    top: -30px;
    left: -30px;
    border-top: none;
    border-left: none;
}

.corner.top-right {
    top: -30px;
    right: -30px;
    border-top: none;
    border-right: none;
}

.corner.bottom-left {
    bottom: -30px;
    left: -30px;
    border-bottom: none;
    border-left: none;
}

.corner.bottom-right {
    bottom: -30px;
    right: -30px;
    border-bottom: none;
    border-right: none;
}

/* #endregion */

.about-me h1 {
    font-size: 64px;
    margin-top: 76px
}

.about-me p {
    color: #FFFFFF;
    font-family: 'Imprima';
    font-size: 24px;
}

.about-me .education {
    padding-left: 40px
}

.about-me .buttons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 72px;
}

.about-me .buttons a {
    padding: 12px;
    border-radius: 35px;
    font-size: 24px;

    text-align: center;
    min-width: 100px;
    background-color: #FF7474;
    color: #222222;
}
/* #endregion */

.image {
    width: 448px;
    height: 448px;
    object-fit: cover;
    border-radius: 50%;
    
    /* Prevents the image from squishing if the screen gets small */
    flex-shrink: 0;
}

/* #endregion */

/* ######################## */
/* #region Projects Section */
/* ######################## */

.projects-section {
    scroll-margin-top: 100px;
}

.projects {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;

    margin-bottom: 80px;
}


.projects-section h1 {
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* #region project container */

.projects .project-container{
    background-color: #3B3B3B;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 35px;
    
}

.projects h2 {
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 35px;
    min-width: 325px;
    padding: 12px;
}

/* #region project content */

.project-container .project-content {
    background-color: #767676;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 24px;
    margin-top: 16px;

    height: 528px;
    width: 368px;
}

.project-container .project-content h3 {
    margin-left: 10px;
    margin-right: 10px;
}

.project-container .project-content p {
    margin-left: 24px;
    margin-right: 10px;
    font-size: 18px;
    color: #FFFFFF;
}

.project-container .project-content img {
    width: 328px;
    height: 184px;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;

    border-radius: 15px;
    object-fit: scale-down;
}
/* #endregion */

/* #endregion */

.projects .project-divider {
    width: 4px;
    background-color: #FF7474;
    
    height: 616px;
    border-radius: 2px;/* Rounds the tips of the line slightly */
    
    flex-shrink: 0;
}

/* #endregion */

/* ######################### */
/* #region Experience Region */
/* ######################### */

.experience-section {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;

    scroll-margin-top: 100px;
}

/* #region past-recent-arrow */

.experience-section .past-recent-arrow {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 72px;
}

.experience-section .past-recent-arrow h3 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.experience-section .past-recent-arrow .arrow {
    margin-left: 60px;
}

.experience-section .past-recent-arrow .arrow .line {
    border-left: 3px dashed #FF7474;
    height: 720px;
    margin-left: 7px;

    
    flex-shrink: 0;
}

.experience-section .past-recent-arrow .arrow .point{
  border: solid #FF7474;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* #endregion */

.experience-section .experiences-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.experience-section h1 {
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.experience-section .experiences-container .experience-img-left {
    display: flex;
    width: 1200px;
    height: 180px;
    background-color: #4C4C4C;
}

.experience-section .experiences-container .experience-img-right {
    display: flex;
    width: 1200px;
    height: 180px;
    background-color: #4C4C4C;
}

.experience-details {
    display: flex;
    flex-direction: row;
    margin-left: 20px;

    background-color: #767676;
    border-radius: 35px;
    padding: 16px;
    margin: 10px;

    
    width: 100%;
}

.experience-details .quick-info p {
    font-size: 24px;
}

.quick-info {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}
.experience-section .experiences-container img {
    width: 160px;
    height: 160px;

    margin-left: 11px;
    margin-right: 11px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.experience-section .experiences-container .position {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.experience-section .experiences-container .company {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 20px;
}

.experience-section .experiences-container .date-and-city {
    font-size: 20px;
}

.experience-section .experiences-container .tasks {
    margin-right: 20px;
}


/* #endregion */


/* ########################## */
/* #region Contact Me Section */
/* ########################## */

.contact-me-section {
    background-color: #FF7474;
    display: flex;

    width: 100%;
    max-height: 144px;

    gap: 24px;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;

    margin-top: 48px;

    scroll-margin-top: 100px;
}

.contact-me-section .left-side {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    text-align: right;

    padding-right: 40px;
}

.contact-me-section .left-side h1 {
    color: #FFFFFF;
    font-size: 48px;
}

.contact-me-section .email-form {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 40px;

    min-width: 500px;
}

.contact-me-section .email-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-me-section .email-form .form-header {
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.contact-me-section .email-form button {
    /* padding-bottom: 4px;
    padding-top: 4px; */

    min-width: 95px;
    border-radius: 35px;
    font-size: 24px;

    text-align: center;
    background-color: #4C4C4C;

    font-family: 'Fredoka';
    font-weight: 600;
    color: #FFFFFF;

    border: #4C4C4C 1px solid;

    cursor: pointer;
}

.contact-me-section .email-form button:hover {
    border: #FFFFFF 1px solid;
}

.contact-me-section .email-form input {
    width: 40%;
}

.contact-me-section .email-form textarea {
    width: 70%;
} 


/* #endregion */