/* #region default styles */

body {
    /* Variable colors for easy color changing of site */
    --accent-color: #FF7474;
    /* alternative accents:
    salmon-pink: #FF7474
    light-blue: #87C9FF
    light-purple: #BE73EA
    tan: #E5D096
    */
    --background-some-text-color: #222222;
    /* alternative backgounds:
    light black: #222222
    non-pure white: #E8E8E8
    */


    background-color: var(--background-some-text-color);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--accent-color);
    font-family: 'Fredoka';
    font-weight: 600;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: var(--background-some-text-color);
    font-family: "Fredoka"
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: var(--accent-color);
    font-family: 'Imprima';
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Imprima';
    font-size: 20px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    font-family: 'Imprima';
    font-size: 24px;
}

/* #region Corners pieces */

.corner { /* creates a salmon square*/
    position: absolute;
    width: 30px;
    height: 30px;

    border: 5px solid var(--accent-color); /* border goes width, style, then color */
}

/* positions each corner */
.corner.top-left {
    top: -30px;
    left: -30px;
    border-top: none;
    border-left: none;
}

.corner.top-right {
    top: -30px;
    right: -30px;
    border-top: none;
    border-right: none;
}

.corner.bottom-left {
    bottom: -30px;
    left: -30px;
    border-bottom: none;
    border-left: none;
}

.corner.bottom-right {
    bottom: -30px;
    right: -30px;
    border-bottom: none;
    border-right: none;
}

/* #endregion */

/* #endregion */

/* ###################### */
/* #region Navigation Bar */
/* ###################### */

/* Add a black background color to the top navigation */
#nav-bar {
    background-color: #3B3B3B;
    width: 100%; /* make nav-bar stretch whole page */
    border-bottom: 2px solid var(--accent-color);

    /* makes nav bar stick to top */
    position: sticky;
    z-index: 1;
    top: 0;
}

#nav-bar-content {
    display: flex;
    flex-direction: row;

    /* Sizing stuff */
    height: 64px;
    width: 95%;
    gap: 5vw;

    /* Centers the content Vertically */
    align-items: center;

    /* Centers the content Horizontally */
    margin: auto;
}

/* Style the links inside the navigation bar */
#nav-bar-content a {
  color: #FFFFFF;
}

/* Change the color of links on hover */
#nav-bar-content a:hover {
  color: var(--accent-color);
}

#nav-bar-content h1 {
    text-decoration: none;
    font-size: 24px;
    margin: 0;

    margin-left: auto;
}

/* #endregion */

/* #################### */
/* #region Hero Section */
/* #################### */
#hero-section {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 7vw;

    height: 90vh;


    width: 100%;
    /* max-width: 1440px; */

    margin-bottom: 4vh;

    scroll-margin-top: 7vh;

    border-bottom: 2px solid var(--accent-color);

    position: relative;
    overflow: hidden;

    background: rgb(0, 0, 0, 0.7)
}

#bg-img {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -2;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    pointer-events: none;
    filter: grayscale(100%) brightness(1.15) contrast(1.02);
}

/* #region About Me Section */
#about-me {
    background-color: #3B3B3B;

    min-width: 448px;
    width: 40vw;

    padding: 2.5%;

    /* Keeps salmon corners alive otherwise they disappear */
    position: relative; 
    z-index: 0;
    margin: 30px;/* So extended salmon corners don't get cut off when screen cut down*/
}

/* Create a crisp, corner-to-corner diagonal split that scales with the box */
#about-me::before {
    /* magic to make the half lighter grey half darker grey */
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.10); /* the lighter half */
    clip-path: polygon(0 0, 100% 0, 0 100%);
    pointer-events: none;
    z-index: -1;
}


#about-me h1 {
    font-size: 64px;
    margin-top: 76px
}

#about-me p {
    color: #FFFFFF;
    font-family: 'Imprima';
    font-size: 24px;
}

#about-me #education {
    padding-left: 40px
}

#about-me .buttons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 72px;
}

#about-me .buttons a {
    padding: 12px;
    border-radius: 35px;
    font-size: 24px;

    text-align: center;
    min-width: 100px;
    background-color: var(--accent-color);
    color: var(--background-some-text-color);
}
/* #endregion */

#head-shot {
    width: 30vw;
    height: 30vw;

    min-width: 304px;
    min-height: 304px;

    /* makes image a circle */
    border-radius: 50%;
    
    /* Prevents the image from squishing if the screen gets small */
    flex-shrink: 0;
}

/* #endregion */

/* ######################## */
/* #region Projects Section */
/* ######################## */

#projects-section {
    scroll-margin-top: 14vh;
    /* max-width: 1440px; */
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5vh;

    width: 95%;
    height: 70%;

    min-width: 1256px;
}

#projects-section h1 {
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* #region project container */

.projects .project-container{
    background-color: #3B3B3B;
    /* padding-left: 10px;
    padding-right: 10px; */
    border-radius: 35px;

    height: 95%;
    width: 28%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.projects h2 {
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 35px;
    min-width: 90%;
    height: 5%;
    padding: 12px;
}

/* #region project content */

.project-container .project-content {
    display: flex;
    flex-direction: column;
    background-color: #767676;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    /* margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 24px;
    margin-top: 16px; */


    height: 95%;
    width: 90%;
}

.project-container .project-content h3 {
    margin-left: 10px;
    margin-right: 10px;
}

.project-container .project-content p {
    margin-left: 24px;
    margin-right: 10px;
    font-size: 18px;
    color: #FFFFFF;
}

.project-container .project-content img {
    width: 328px;
    height: 184px;
    /* align: bottom; */
    /* margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px; */

    border-radius: 15px;
    object-fit: scale-down;
}
/* #endregion */

/* #endregion */

.projects .project-divider {
    width: 4px;
    background-color: var(--accent-color);
    
    height: 616px;
    border-radius: 2px;/* Rounds the tips of the line slightly */
    
    flex-shrink: 0;
}

/* #endregion */

/* ######################### */
/* #region Experience Region */
/* ######################### */

.experience-section {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;

    scroll-margin-top: 9vh;
    /* max-width: 1440px; */
}

/* #region past-recent-arrow */

.experience-section .past-recent-arrow {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 72px;
}

.experience-section .past-recent-arrow h3 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.experience-section .past-recent-arrow .arrow {
    margin-left: 60px;
}

.experience-section .past-recent-arrow .arrow .line {
    border-left: 3px dashed var(--accent-color);
    height: 720px;
    margin-left: 7px;

    
    flex-shrink: 0;
}

.experience-section .past-recent-arrow .arrow .point{
  border: solid var(--accent-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* #endregion */

.experience-section .experiences-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.experience-section h1 {
    text-align: center;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.experience-section .experiences-container .experience-img-left {
    display: flex;
    width: 1200px;
    height: 180px;
    background-color: #4C4C4C;

    /* Keeps salmon corners alive otherwise they disappear */
    position: relative; 
    /* z-index: 0; */

    /* for some reason 1 px overlaps on the joining corners so margin 1px fixes that */
    margin: 1px
}

.experience-section .experiences-container .experience-img-right {
    display: flex;
    width: 1200px;
    height: 180px;
    background-color: #4C4C4C;

    /* Keeps salmon corners alive otherwise they disappear */
    position: relative; 
    /* z-index: 0; */

    /* for some reason 1 px overlaps on the joining corners so margin 1px fixes that */
    margin: 1px
}

.experience-details {
    display: flex;
    flex-direction: row;
    margin-left: 20px;

    background-color: #767676;
    border-radius: 35px;
    padding: 16px;
    margin: 10px;

    
    width: 100%;
}

.experience-details .quick-info p {
    font-size: 24px;
}

.quick-info {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}
.experience-section .experiences-container img {
    width: 160px;
    height: 160px;

    margin-left: 11px;
    margin-right: 11px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.experience-section .experiences-container .position {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.experience-section .experiences-container .company {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 20px;
}

.experience-section .experiences-container .date-and-city {
    font-size: 20px;
}

.experience-section .experiences-container .tasks {
    margin-right: 20px;
}


/* #endregion */


/* ########################## */
/* #region Contact Me Section */
/* ########################## */

.contact-me-section {
    background-color: var(--accent-color);
    display: flex;

    width: 100%;
    /* max-width: 1440px; */
    max-height: 144px;

    gap: 24px;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;

    margin-top: 48px;
}

.contact-me-section .left-side {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: flex-end;
    text-align: right;

    padding-right: 40px;
}

.contact-me-section .left-side h1 {
    color: #FFFFFF;
    font-size: 48px;
}

.contact-me-section .email-form {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 40px;

    min-width: 500px;
}

.contact-me-section .email-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-me-section .email-form .form-header {
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.contact-me-section .email-form button {
    /* padding-bottom: 4px;
    padding-top: 4px; */

    min-width: 95px;
    border-radius: 35px;
    font-size: 24px;

    text-align: center;
    background-color: #4C4C4C;

    font-family: 'Fredoka';
    font-weight: 600;
    color: #FFFFFF;

    border: #4C4C4C 1px solid;

    cursor: pointer;
}

.contact-me-section .email-form button:hover {
    border: #FFFFFF 1px solid;
}

.contact-me-section .email-form input {
    width: 40%;
}

.contact-me-section .email-form textarea {
    width: 70%;
} 



/* #endregion */

